.payment{
    width: 80%;
    height: 50%;
    padding: 30px;
  position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.movie-d{
    display: flex;
    background-color:white;
    border-radius: 10px;
    height: 200px;
    margin: 60px;
  
}
.movieb-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: skyblue;
    height: 100%;
    width: 50%;
}
.theater-d{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgray;
    height: 100%;
    width: 50%;
}

.Aletr{
    margin: 30px;
}
